.title {
    font-size: 30px;
    font-weight: bold;
    color: blue;
    text-align: center;
    border-width: 2px;
    border-color: brown;
    border-style: solid;

}

.board-output-intro {
    display: flex;
    border-style: solid;
}

.board-output {
    flex: 60%;
    border-width: 2px;
    border-color: brown;
    border-style: solid;
    height: 800px;
}

.board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    border-width: 2px;
    height: 600px;
    border-color: black;
    border-style: solid;
    position: relative;
}

.output {
    background-color: aqua;
    border-width: 2px;
    border-color: brown;
    border-style: solid;
    height: 300px;
}

.intro {
    flex: 40%;
    border-width: 2px;
    border-color: blue;
    border-style: solid;
    background-color: #432f1fcc;
}




.Minion {
    width: 150px;
    /* Adjust the width and height to match the desired dimensions */
    height: 200px;
    overflow: hidden;
}

.Minion-Status {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.circle {
    margin-top: 15px;
    margin-left: 17px;
    width: 115px;
    height: 155px;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    position: relative;
}

.middle-button {
    position: absolute;
    top: 50%;
    transform: translateY(-90%);
    display: none;
}

.title-container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}

.title-image {
    height: 100%;
}

#previous {
    width: 90px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 10px;
    background-image: url('left.png');
    background-size: cover;
    background-position: center;
    border-style: none;
}

#next {
    width: 90px;
    height: 60px;
    position: absolute;
    top: 50%;
    right: 10px;
    background-image: url('next.png');
    background-size: cover;
    background-position: center;
    border-style: none;
}







.taunt-ds-reborn {
    background-image: url('taunt-ds-reborn.png');
    background-size: cover;
    background-position: center;
}

.taunt-ds {
    background-image: url('taunt-ds.png');
    background-size: cover;
    background-position: center;
}

.taunt-reborn {
    background-image: url('taunt-reborn.png');
    background-size: cover;
    background-position: center;
}

.ds-reborn {
    background-image: url('ds-reborn.png');
    background-size: cover;
    background-position: center;
    opacity: 60;
}

.taunt {
    background-image: url('taunt.png');
    background-size: cover;
    background-position: center;
}

.ds {
    background-image: url('ds.png');
    background-size: cover;
    background-position: center;
}

.reborn {
    background-image: url('reborn.png');
    background-size: cover;
    background-position: center;
}



.attack {
    width: 20px;
    height: 30px;
    margin-left: 5px;
    position: absolute;
    top: 110px;
    z-index: 2
}

.health {
    width: 20px;
    height: 30px;
    position: absolute;
    top: 110px;
    left: 80px;
    z-index: 2;
}


.Calculate {
    width: 200px;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    border-color: rgb(154, 27, 27);
    border-style: solid;
    border-width: 4px;
    color: rgb(154, 27, 27);
    cursor: pointer;
    transition: background-color 1s,
        color 1s;
}

.Calculate:hover {
    background-color: rgb(154, 27, 27);
    color: white
}

.Calculate-border {
    text-align: right;
}

.Introduction {
    line-height: 2;
    margin-left: 3px;
    color: white;
    font-size: 18px;
}

#Arrow {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}